* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  display: flex; /* horizontal layout */
  background-color: black; /* nav background */
  justify-content: space-between; /* Distribute items horizontally: first item left, last item right, others evenly spaced */
  align-items: center; /* Align items vertically in the center of the container */
  padding: 0 60px 0 60px; /* 60px space on left and right sides */
  margin-top: 20px;
}

a {
  color: white; /* link color */
  padding: 20px 15px 20px 15px; /* spacing around links */
  display: inline-block; /* optional, works with flex */
  font-size: 20px;
  text-decoration: none; /* remove underline from links */
}

nav a.active {
  background-color: #555;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: bold;
}
.contact-section p {
  margin: 20px 0px 30px 0px;
  font-size: 20px;
}
.contact-section a {
  display: inline;
}

.contact-section h3 {
  margin-top: 10px;
  padding-left: 60px;
  font-size: 24px;
  color: #1a73e8;
}

strong {
  font-weight: bold;
  font-size: 24px;
  padding-left: 20px;
}
